body {
  margin: 0;
  padding: 0;
  color: #252525;
}
* {
  font-family: sans-serif;
}
label {
  display: block;
  margin: 3%;
}
label > input {
  margin-right: 2%;
}
ul {
  padding-left: 0;
}
li {
  list-style-type: none;
}
.link {
  color: #5c5d6f;
}
p {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.login {
  text-align: center;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: auto;
  margin-top: 2%;
  border: 1px solid #e9e7e7;
  border-radius: 4px;
}
.login-button {
  width: 100%;
  border-radius: 4px;
  background-color: #5c5d6f;
  border: none;
  color: white;
  margin-top: 7px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.active-questions-list {
  color: white;
  background-color: #5c5d6f;
  border-color: #5c5d6f;
  height: 50px;
  width: 50%;
}
.passive-questions-list {
  color: #5c5d6f;
  background-color: white;
  border-color: #dad7d7;
  height: 50px;
  width: 50%;
}

.results {
  margin: 2% auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 630px;
  height: auto;
}

.questions-list {
  margin: 2% auto;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #dad7d7;
  border-radius: 5px;
  width: 100%;
  max-width: 630px;
  height: auto;
  font-size: 25px;
  font-weight: bold;
}

.navigation-block {
  height: 52px;
  font-size: 20px;
  padding-left: 30%;
  border-bottom: 2px solid #6b6c74ba;
}

.navigation-item {
  position: relative;
  height: 35px;
  padding: 7px;
  margin-top: 15px;
  margin-right: 20px;
  float: left;
  color: #5c5d6f;
}

.navigation-user {
  padding-left: 15px;
  float: left;
  padding-right: 15px;
}
.logout {
  color: #5c5d6f;
  padding: 0;
  border: none;
  background: none;
}

.leader-list {
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  width: 100%;
  max-width: 630px;
  height: auto;
  font-size: 25px;
  font-weight: bold;
}
.leaderboard-name {
  margin: 3%;
  margin-bottom: 6%;
  font-size: 27px;
}
.leaderboard-questions {
  font-size: 20px;
  margin: 3%;
}
.line {
  border: 0.5px solid #dad7d7;
  margin: 1.5%;
}

.questions-section {
  flex: 50%;
  position: relative;
}
.questions-section-body {
  border-left: 1px solid #dad7d7;
  border-right: 1px solid #dad7d7;
}

.leaderboard-score {
  flex: 20%;
  position: relative;
  text-align: center;
}

.leaderboard-score-header {
  padding: 15%;
  font-size: 20px;
}
.leaderboard-score-body {
  font-size: 20px;
  margin-top: 12%;
}
.leader-section {
  border-radius: 5px;
  float: left;
  height: 78%;
  width: 100%;
  display: flex;
  margin-top: 2%;
  border: 1px solid #dad7d7;
}
.avatar-section {
  flex: 30%;
  text-align: center;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.avatar-small {
  height: 30px;
  margin-top: -5px;
  border-radius: 30px;
}
.avatar-big {
  max-width: 100px;
  border-radius: 105px;
  vertical-align: middle;
}
.login-image {
  height: 200px;
  padding: 10px;
}

.question {
  margin: 3%;
  border: 2px solid rgb(181, 181, 181);
  border-radius: 5px;
  font-size: 16px;
  overflow: auto;
}

.question-header {
  border-bottom: 1px solid rgb(181, 181, 181);
  height: 22%;
  font-size: 23px;
  font-weight: bold;
  padding: 2%;
  background-color: rgb(181, 181, 181);
}
.question-body {
  float: left;
  height: 78%;
  width: 100%;
  display: flex;
}
.polling-section {
  flex: 70%;
  margin: 2%;
  position: relative;
}

.polling-header {
  font-size: 21px;
  font-weight: bold;
  margin: 3%;
}
.polling-choosen-answer {
  height: 50%;
  margin-top: 2%;
  padding: 5%;
  border-radius: 5px;
  background-color: #98929292;
  position: relative;
}
.polling-unchoosen-answer {
  height: 50%;
  padding: 5%;
  margin-top: 2%;
  border-radius: 5px;
  background-color: #c1b9b925;
  position: relative;
}
.vote {
  position: absolute;
  top: -1%;
  right: -1%;
  background-color: green;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 2%;
}
.polling-body {
  margin-top: 7%;
  margin-left: 5%;
}
.polling-body-results {
  margin-top: 1%;
  margin-left: 5%;
}
.polling-answers-count {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
.polling-percentage {
  background-color: rgb(135, 133, 133);
  border-radius: 5px;
  text-align: right;
  margin-top: 3%;
  margin-bottom: 3%;
}
.polling-btn {
  border: 1px solid #848488;
  width: 95%;
  text-align: center;
  bottom: 0;
  left: 5%;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
}
.new-question {
  width: 100%;
  max-width: 500px;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 2px solid #dad7d7;
}

.new-question-header {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding: 3%;
  border-bottom: 2px solid #dad7d7;
}
.new-question-div-one {
  padding-top: 3%;
  padding-left: 3%;
  font-size: 17px;
}
.new-question-div-two {
  padding-top: 5%;
  font-size: 22px;
  padding-left: 3%;
  font-weight: bold;
}
.new-question-body {
  margin-top: 2%;
  text-align: center;
}
.new-question-button {
  color: white;
  background-color: #5c5d6f;
  font-size: 19px;
  height: 30px;
  width: 95%;
  text-align: center;
  bottom: 0;
  left: 5%;
  margin: 2%;
  border-radius: 4px;
}
.new-question-or {
  position: relative;
}

.textarea {
  margin: 1%;
  border-radius: 5px;
  border: 1px solid #dad7d7;
  font-size: 15px;
  height: 30px;
  width: 95%;
}
