body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}
.login {
  text-align: center;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #e9e7e7;
  border-radius: 4px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  cursor: pointer;
}
.login-button {
  width: 100%;
  border-radius: 4px;
  background-color: #5c5d6f;
  border: none;
  color: white;
  margin-top: 7px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn:hover {
  border-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
  background-color: #5c5d6f;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 2px solid #5c5d6f;
}

.nav li:first-child {
  padding-left: 30%;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
  color: #5c5d6f;
}
.user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.avatar {
  height: 30px;
  border-radius: 30px;
  vertical-align: middle;
}
.login-image {
  height: 200px;
  padding: 10px;
}

.question {
  width: 100%;
  max-width: 590px;
  height: 200px;
  padding: 10px;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.question-author {
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}
