body {
  margin: 0;
  padding: 0;
  color: #252525;
}

* {
  font-family: sans-serif;
}

.login {
  text-align: center;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid #e9e7e7;
  border-radius: 4px;
}
.login-button {
  width: 100%;
  border-radius: 4px;
  background-color: #5c5d6f;
  border: none;
  color: white;
  margin-top: 7px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.active-questions-list {
  color: white;
  background-color: #5c5d6f;
  height: 50px;
  width: 50%;
}
.passive-questions-list {
  color: #5c5d6f;
  background-color: white;
  height: 50px;
  width: 50%;
}

.questions-list {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  width: 100%;
  max-width: 630px;
  height: auto;
  font-size: 25px;
  font-weight: bold;
}

.navigation-block {
  height: 52px;
  font-size: 20px;
  padding-left: 30%;
  border-bottom: 2px solid #6b6c74ba;
}

.navigation-item {
  position: relative;
  height: 35px;
  padding: 7px;
  margin-top: 15px;
  margin-right: 20px;
  float: left;
  color: #5c5d6f;
}

.navigation-user {
  padding-left: 15px;
  float: left;
  padding-right: 15px;
}
.logout {
  color: #5c5d6f;
  padding: 0;
  border: none;
  background: none;
}

.leader-list {
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  width: 100%;
  max-width: 630px;
  height: auto;
  font-size: 25px;
  font-weight: bold;
}
.leaderboard-name {
  margin: 3%;
  margin-bottom: 6%;
  font-size: 27px;
}
.leaderboard-questions {
  font-size: 20px;
  margin: 3%;
}
.line {
  border: 1px solid #dad7d7;
  margin: 3%;
}

.questions-section {
  flex: 50%;
  position: relative;
}

.leaderboard-score {
  flex: 20%;
  position: relative;
  text-align: center;
}

.leaderboard-score-header {
  padding: 15%;
  font-size: 20px;
}
.leaderboard-score-body {
  font-size: 20px;
  margin-top: 12%;
}
.leader-section {
  border-radius: 5px;
  float: left;
  height: 78%;
  width: 100%;
  display: flex;
  margin-top: 2%;
  border: 1px solid #dad7d7;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}
.link {
  color: #5c5d6f;
}

.avatar-section {
  flex: 30%;
}
.avatar-small {
  height: 30px;
  margin-top: -5px;
  border-radius: 30px;
}
.avatar-big {
  height: 100px;
  border-radius: 105px;
  margin: 15%;
}
.login-image {
  height: 200px;
  padding: 10px;
}

.question {
  width: 100%;
  max-width: 590px;
  height: 200px;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.question-header {
  border: 1px solid #dad7d7;
  border-radius: 3px;
  height: 22%;
  font-size: 23px;
  font-weight: bold;
  padding: 2%;
  background-color: rgb(181, 181, 181);
}
.question-body {
  border: 1px solid #dad7d7;
  border-radius: 3px;
  float: left;
  height: 78%;
  width: 100%;
  display: flex;
}
.polling-section {
  flex: 70%;
  margin: 3%;
  border-left: 1px solid #dad7d7;
  position: relative;
}

.polling-header {
  font-size: 21px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 5%;
}

.polling-body {
  position: absolute;
  top: 35%;
  left: 5%;
}

.polling-btn {
  border: 1px solid #848488;
  width: 95%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 5%;
  padding: 5px;
  border-radius: 4px;
}

.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}
